<header class="mb-4 shadow">
  <div class="container d-flex justify-content-between py-3">
    <h2 class="m-0" *ngIf="!isAuth">Netflix manager</h2>
    <h2 class="m-0"><a class="text-white text-decoration-none" routerLink="/series" *ngIf="isAuth">Netflix manager</a></h2>

    <div class="d-flex align-items-center" *ngIf="isAuth">
      <a routerLink="/series" class="btn btn-outline-primary btn-sm mr-2"
        *ngIf="chemin != 'series'">
        Retour vers les series
      </a>
      <button routerLink="/serie/new" class="btn btn-outline-success btn-sm mr-2">Ajouter une série</button>
      <button class="btn btn-outline-secondary btn-sm"(click)="onClickSignOut()">Déconnexion</button>
    </div>
  </div>
</header>
