<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto text-center">
      <div class="card shadow text-white bg-dark card-signin my-5">
        <div class="card-body text-center">

          <h5 class="card-title text-center">Ajouter une série</h5>

          <form [formGroup]="newSerieForm" (ngSubmit)="onSubmitNewSerie()">

            <div class="form-group">
              <input type="text" id="inputName" class="form-control" formControlName="name" placeholder="Nom" autofocus>
            </div>

            <div class="form-group">
              <input type="date" id="inputDateDebut" class="form-control" formControlName="dateBegin" placeholder="Date de début">
            </div>

            <div class="form-group">
              <input type="number" id="inputNbrSaisons" class="form-control" formControlName="nbrSeasons" placeholder="Nombre de saisons">
            </div>

            <div class="form-group">
              <textarea type="text" id="inputDescription" class="form-control" formControlName="description" placeholder="Description"></textarea>
            </div>

            <div class="form-group">
              <textarea type="text" id="inputCritique" class="form-control" formControlName="critic" placeholder="Critique"></textarea>
            </div>

            <div class="form-group">
              <input type="url" id="inputPhoto" class="form-control" formControlName="photo" placeholder="Lien photo">
            </div>

            <button class="btn btn-outline-success text-uppercase" type="submit">Ajouter la série</button>

          </form>

        </div>
      </div>
      <a routerLink="/series" class="btn btn-outline-primary">Retour vers les series</a>
    </div>
  </div>
</div>
